marketing_hub:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: ${PG_USER}
      password: ${PG_PASSWORD}
      dbname: ${PG_DB}
      port: 5432
      schema: analytics
      threads: 4
